# ----------------------
# Python bytecode
# ----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------
# Virtual environments
# ----------------------
.venv/
env/
venv/

# ----------------------
# Environment variables
# ----------------------
.env
.env.*
.venv/.env

# ----------------------
# Data / output files
# ----------------------
.data/
*.sqlite
*.db
*.csv

# ----------------------
# IDE / editor settings
# ----------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Misc
# ----------------------
*.bak
*.swp
